ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslateblue;
    position: -webkit-sticky; /* Safari y otros */
    position: sticky;
    top: 0;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: darkgrey;
}

.activegonpaclau {
    background-color: dodgerblue;
}
.Contenedora1gonpaclau{
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.contenedora2gonpaclau{
    background-color: grey;
    float: left;
    width: 30%;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}
.contenedora3gonpaclau{
    background-color: lightslategrey;
    float: left;
    width: 30%;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}
.contenedora4gonpaclau{
    background-color: darkgrey;
    float: left;
    width: 30%;
    height: 150px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: auto;
}
h3{
    display: flow-root;
}
